@using Otaghche.Domain.Entities

@model IEnumerable<Hotel>

@{
}

<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">لیست هتل ها</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<div class="row pb-3">
			<div class="col-6 offset-6 text-end">
				<a asp-controller="Hotel" asp-action="Create" class="btn btn-secondary">  افزودن هتل جدید   <i class="bi bi-plus-square"> </i> </a>
			</div>
		</div>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>نام</th>
					<th>قیمت</th>
					<th>مساحت</th>
					<th>ظرفیت</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var hotel in Model)
				{
					<tr>
						<td>@hotel.Name</td>
						<td>@hotel.Price هزار تومان</td>
						<td>@hotel.Sqft</td>
						<td>@hotel.Occupancy</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
